body{
	width: 100%;
	height: 100%;
	margin: auto;
	font-family: arial;
	background: #eee;
}

header ul{
	list-style-stype: none;
	margin: 0;
	float: right;
	margin-top: 20px;
}
header ul li{
	display: inline-block;
}
header ul li a{
	display: block;
	padding: 10px;
	color: #363636;
}

.page-edit-toolbox{
	background: #ddd;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 320px;
}

.page-edit-toolbox .title{
	background: #373737;
	color: #fff;
	margin: 0;
	padding: 10px 5px 10px 5px;

}

.toolbox-container{
	position: absolute;
	top: 47px;
	left: 0;
	bottom: 0;
	overflow-y: scroll;
}

.tool{
	display: inline-block;
	width: 130px;
	text-align: center;
	height: 130px;
	margin: 10px;
	cursor: pointer;
}
.tool:hover{
	background: #eee;
}

.tool .glyphicon{
	margin-top: 20px;
	font-size: 60px;
}
.tool-type-heading{
	width: 100%;
	font-weight: bold;
	font-size: 18px;
	padding-left: 10px;
	margin-top: 10px;
}

.banner{
	background: red;
	color: #fff;
}

#piece-editor{
	border: 3px solid green;
}
.icons{
	position:relative;
	margin-top: -40px;
	background: #ddd;
	width: 100%;
	font-size: 18px;
}
